// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Sun Aug 31 15:26:08 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/ekendrick/documents/github/e155-lab1/lab1-lattice/e155lab1/source/impl_1/lab1_ek.sv"
// file 1 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 2 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 3 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 23 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 24 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 25 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input [3:0]s, input reset, output [2:0]led, output [6:0]seg);
    
    wire VCC_net;
    wire s_c_3;
    wire s_c_2;
    wire s_c_1;
    wire s_c_0;
    wire reset_c;
    wire led_c_2;
    wire led_c_1;
    wire led_c_0;
    wire seg_c_6;
    wire seg_c_5;
    wire seg_c_4;
    wire seg_c_3;
    wire seg_c_2;
    wire seg_c_1;
    wire seg_c_0;
    (* is_clock=1, lineinfo="@0(8[28],8[35])" *) wire int_osc;
    wire GND_net;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=29, LSE_LLINE=10, LSE_RLINE=10, lineinfo="@0(10[9],10[29])" *) sevseg sevseg_logic (s_c_1, 
            s_c_0, s_c_3, s_c_2, seg_c_6, seg_c_0, seg_c_2, seg_c_4, 
            seg_c_5, seg_c_3, seg_c_1);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=48, LSE_LLINE=8, LSE_RLINE=8, lineinfo="@0(8[12],8[48])" *) led_blink blink_led_logic (int_osc, 
            led_c_2, reset_c);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=7, LSE_RCOL=24, LSE_LLINE=9, LSE_RLINE=9, lineinfo="@0(9[7],9[24])" *) leds led_logic (s_c_2, 
            s_c_3, led_c_1, s_c_0, s_c_1, led_c_0);
    (* lineinfo="@0(3[14],3[19])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@0(2[20],2[21])" *) IB \s_pad[0]  (.I(s[0]), .O(s_c_0));
    (* lineinfo="@0(2[20],2[21])" *) IB \s_pad[1]  (.I(s[1]), .O(s_c_1));
    (* lineinfo="@0(2[20],2[21])" *) IB \s_pad[2]  (.I(s[2]), .O(s_c_2));
    (* lineinfo="@0(2[20],2[21])" *) IB \s_pad[3]  (.I(s[3]), .O(s_c_3));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@0(4[21],4[24])" *) OB \led_pad[0]  (.I(led_c_0), .O(led[0]));
    (* lineinfo="@0(4[21],4[24])" *) OB \led_pad[1]  (.I(led_c_1), .O(led[1]));
    (* lineinfo="@0(4[21],4[24])" *) OB \led_pad[2]  (.I(led_c_2), .O(led[2]));
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module sevseg
//

module sevseg (input s_c_1, input s_c_0, input s_c_3, input s_c_2, output seg_c_6, 
            output seg_c_0, output seg_c_2, output seg_c_4, output seg_c_5, 
            output seg_c_3, output seg_c_1);
    
    
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@0(65[3],83[10])" *) LUT4 seg_c_6_I_0_4_lut (.A(s_c_1), 
            .B(s_c_0), .C(s_c_3), .D(s_c_2), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0x1805";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@0(65[3],83[10])" *) LUT4 s_c_3_I_0_4_lut (.A(s_c_2), 
            .B(s_c_1), .C(s_c_3), .D(s_c_0), .Z(seg_c_0));
    defparam s_c_3_I_0_4_lut.INIT = "0x6102";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@0(65[3],83[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_1), .D(s_c_2), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@0(65[3],83[10])" *) LUT4 seg_c_4_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_0), .D(s_c_2), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@0(65[3],83[10])" *) LUT4 seg_c_5_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_2), .D(s_c_0), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0x6302";
    (* lut_function="(A (B (D)+!B !(D))+!A !(B ((D)+!C)+!B (C+!(D))))" *) LUT4 i406_4_lut (.A(s_c_0), 
            .B(s_c_1), .C(s_c_3), .D(s_c_2), .Z(seg_c_3));
    defparam i406_4_lut.INIT = "0x8962";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@0(65[3],83[10])" *) LUT4 seg_c_1_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_2), .D(s_c_1), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0xd860";
    
endmodule

//
// Verilog Description of module led_blink
//

module led_blink (input int_osc, output led_c_2, input reset_c);
    
    wire [24:0]counter;
    (* is_clock=1, lineinfo="@0(8[28],8[35])" *) wire int_osc;
    wire [24:0]n105;
    
    wire n116, n32, n432, n119, n231, n730, GND_net, n233, n229, 
        n727, n15, n724, VCC_net, n237, n739, n239, n235, n736, 
        n14, n241, n745, n243, n742, n245, n751, n247, n251, 
        n760, n249, n757, n754, n18, n20, n19, n442, n748, 
        n23, n733;
    
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=48, LSE_LLINE=8, LSE_RLINE=8, lineinfo="@0(30[15],40[8])" *) FD1P3XZ \led[2]  (.D(n32), 
            .SP(n432), .CK(int_osc), .SR(n119), .Q(led_c_2));
    defparam \led[2] .REGSET = "RESET";
    defparam \led[2] .SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i24 (.D(n105[24]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[24]));
    defparam counter_8__i24.REGSET = "RESET";
    defparam counter_8__i24.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[3]), .D0(n231), .CI0(n231), .A1(GND_net), 
            .B1(GND_net), .C1(counter[4]), .D1(n730), .CI1(n730), .CO0(n730), 
            .CO1(n233), .S0(n105[3]), .S1(n105[4]));
    defparam counter_8_add_4_5.INIT0 = "0xc33c";
    defparam counter_8_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[1]), .D0(n229), .CI0(n229), .A1(GND_net), 
            .B1(GND_net), .C1(counter[2]), .D1(n727), .CI1(n727), .CO0(n727), 
            .CO1(n231), .S0(n105[1]), .S1(n105[2]));
    defparam counter_8_add_4_3.INIT0 = "0xc33c";
    defparam counter_8_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))", lineinfo="@0(35[10],35[31])" *) LUT4 i6_4_lut (.A(counter[10]), 
            .B(counter[15]), .C(counter[6]), .D(counter[4]), .Z(n15));
    defparam i6_4_lut.INIT = "0x8000";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(counter[0]), .D1(n724), .CI1(n724), .CO0(n724), .CO1(n229), 
            .S1(n105[0]));
    defparam counter_8_add_4_1.INIT0 = "0xc33c";
    defparam counter_8_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n237), .CI0(n237), .A1(GND_net), 
            .B1(GND_net), .C1(counter[10]), .D1(n739), .CI1(n739), .CO0(n739), 
            .CO1(n239), .S0(n105[9]), .S1(n105[10]));
    defparam counter_8_add_4_11.INIT0 = "0xc33c";
    defparam counter_8_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n235), .CI0(n235), .A1(GND_net), 
            .B1(GND_net), .C1(counter[8]), .D1(n736), .CI1(n736), .CO0(n736), 
            .CO1(n237), .S0(n105[7]), .S1(n105[8]));
    defparam counter_8_add_4_9.INIT0 = "0xc33c";
    defparam counter_8_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))", lineinfo="@0(35[10],35[31])" *) LUT4 i8_4_lut (.A(n15), 
            .B(counter[19]), .C(n14), .D(counter[12]), .Z(n116));
    defparam i8_4_lut.INIT = "0x8000";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n241), .CI0(n241), .A1(GND_net), 
            .B1(GND_net), .C1(counter[14]), .D1(n745), .CI1(n745), .CO0(n745), 
            .CO1(n243), .S0(n105[13]), .S1(n105[14]));
    defparam counter_8_add_4_15.INIT0 = "0xc33c";
    defparam counter_8_add_4_15.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B)))", lineinfo="@0(30[15],40[8])" *) LUT4 i110_2_lut (.A(reset_c), 
            .B(n116), .Z(n119));
    defparam i110_2_lut.INIT = "0x1111";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n239), .CI0(n239), .A1(GND_net), 
            .B1(GND_net), .C1(counter[12]), .D1(n742), .CI1(n742), .CO0(n742), 
            .CO1(n241), .S0(n105[11]), .S1(n105[12]));
    defparam counter_8_add_4_13.INIT0 = "0xc33c";
    defparam counter_8_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[17]), .D0(n245), .CI0(n245), .A1(GND_net), 
            .B1(GND_net), .C1(counter[18]), .D1(n751), .CI1(n751), .CO0(n751), 
            .CO1(n247), .S0(n105[17]), .S1(n105[18]));
    defparam counter_8_add_4_19.INIT0 = "0xc33c";
    defparam counter_8_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[23]), .D0(n251), .CI0(n251), .A1(GND_net), 
            .B1(GND_net), .C1(counter[24]), .D1(n760), .CI1(n760), .CO0(n760), 
            .S0(n105[23]), .S1(n105[24]));
    defparam counter_8_add_4_25.INIT0 = "0xc33c";
    defparam counter_8_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[21]), .D0(n249), .CI0(n249), .A1(GND_net), 
            .B1(GND_net), .C1(counter[22]), .D1(n757), .CI1(n757), .CO0(n757), 
            .CO1(n251), .S0(n105[21]), .S1(n105[22]));
    defparam counter_8_add_4_23.INIT0 = "0xc33c";
    defparam counter_8_add_4_23.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i23 (.D(n105[23]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[23]));
    defparam counter_8__i23.REGSET = "RESET";
    defparam counter_8__i23.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[19]), .D0(n247), .CI0(n247), .A1(GND_net), 
            .B1(GND_net), .C1(counter[20]), .D1(n754), .CI1(n754), .CO0(n754), 
            .CO1(n249), .S0(n105[19]), .S1(n105[20]));
    defparam counter_8_add_4_21.INIT0 = "0xc33c";
    defparam counter_8_add_4_21.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i22 (.D(n105[22]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[22]));
    defparam counter_8__i22.REGSET = "RESET";
    defparam counter_8__i22.SRMODE = "CE_OVER_LSR";
    (* lut_function="((B)+!A)" *) LUT4 i466_2_lut (.A(reset_c), .B(n116), 
            .Z(n432));
    defparam i466_2_lut.INIT = "0xdddd";
    (* lut_function="(!(A))", lineinfo="@0(37[15],37[22])" *) LUT4 i9_1_lut (.A(led_c_2), 
            .Z(n32));
    defparam i9_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(35[10],35[31])" *) LUT4 i7_4_lut (.A(counter[24]), 
            .B(counter[16]), .C(counter[11]), .D(counter[7]), .Z(n18));
    defparam i7_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(35[10],35[31])" *) LUT4 i9_4_lut (.A(counter[22]), 
            .B(n18), .C(counter[17]), .D(counter[18]), .Z(n20));
    defparam i9_4_lut.INIT = "0xfffe";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i21 (.D(n105[21]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[21]));
    defparam counter_8__i21.REGSET = "RESET";
    defparam counter_8__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i20 (.D(n105[20]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[20]));
    defparam counter_8__i20.REGSET = "RESET";
    defparam counter_8__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i19 (.D(n105[19]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[19]));
    defparam counter_8__i19.REGSET = "RESET";
    defparam counter_8__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i18 (.D(n105[18]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[18]));
    defparam counter_8__i18.REGSET = "RESET";
    defparam counter_8__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i17 (.D(n105[17]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[17]));
    defparam counter_8__i17.REGSET = "RESET";
    defparam counter_8__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i16 (.D(n105[16]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[16]));
    defparam counter_8__i16.REGSET = "RESET";
    defparam counter_8__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i15 (.D(n105[15]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[15]));
    defparam counter_8__i15.REGSET = "RESET";
    defparam counter_8__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i14 (.D(n105[14]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[14]));
    defparam counter_8__i14.REGSET = "RESET";
    defparam counter_8__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i13 (.D(n105[13]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[13]));
    defparam counter_8__i13.REGSET = "RESET";
    defparam counter_8__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i12 (.D(n105[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[12]));
    defparam counter_8__i12.REGSET = "RESET";
    defparam counter_8__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i11 (.D(n105[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[11]));
    defparam counter_8__i11.REGSET = "RESET";
    defparam counter_8__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i10 (.D(n105[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[10]));
    defparam counter_8__i10.REGSET = "RESET";
    defparam counter_8__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i9 (.D(n105[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[9]));
    defparam counter_8__i9.REGSET = "RESET";
    defparam counter_8__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i8 (.D(n105[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[8]));
    defparam counter_8__i8.REGSET = "RESET";
    defparam counter_8__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i7 (.D(n105[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[7]));
    defparam counter_8__i7.REGSET = "RESET";
    defparam counter_8__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i6 (.D(n105[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[6]));
    defparam counter_8__i6.REGSET = "RESET";
    defparam counter_8__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i5 (.D(n105[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[5]));
    defparam counter_8__i5.REGSET = "RESET";
    defparam counter_8__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i4 (.D(n105[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[4]));
    defparam counter_8__i4.REGSET = "RESET";
    defparam counter_8__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i3 (.D(n105[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[3]));
    defparam counter_8__i3.REGSET = "RESET";
    defparam counter_8__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i2 (.D(n105[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[2]));
    defparam counter_8__i2.REGSET = "RESET";
    defparam counter_8__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i1 (.D(n105[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[1]));
    defparam counter_8__i1.REGSET = "RESET";
    defparam counter_8__i1.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(35[10],35[31])" *) LUT4 i8_4_lut_adj_1 (.A(counter[13]), 
            .B(counter[14]), .C(counter[8]), .D(counter[21]), .Z(n19));
    defparam i8_4_lut_adj_1.INIT = "0xfffe";
    (* lut_function="(A (B (C (D))))" *) LUT4 i370_4_lut (.A(counter[1]), 
            .B(counter[20]), .C(counter[0]), .D(counter[2]), .Z(n442));
    defparam i370_4_lut.INIT = "0x8000";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[15]), .D0(n243), .CI0(n243), .A1(GND_net), 
            .B1(GND_net), .C1(counter[16]), .D1(n748), .CI1(n748), .CO0(n748), 
            .CO1(n245), .S0(n105[15]), .S1(n105[16]));
    defparam counter_8_add_4_17.INIT0 = "0xc33c";
    defparam counter_8_add_4_17.INIT1 = "0xc33c";
    (* lut_function="((B+((D)+!C))+!A)" *) LUT4 i8_4_lut_adj_2 (.A(counter[5]), 
            .B(n19), .C(counter[23]), .D(n20), .Z(n23));
    defparam i8_4_lut_adj_2.INIT = "0xffdf";
    (* lineinfo="@0(39[23],39[34])" *) FA2 counter_8_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n233), .CI0(n233), .A1(GND_net), 
            .B1(GND_net), .C1(counter[6]), .D1(n733), .CI1(n733), .CO0(n733), 
            .CO1(n235), .S0(n105[5]), .S1(n105[6]));
    defparam counter_8_add_4_7.INIT0 = "0xc33c";
    defparam counter_8_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(!((B+!(C (D)))+!A))", lineinfo="@0(35[10],35[31])" *) LUT4 i5_4_lut (.A(counter[3]), 
            .B(n23), .C(counter[9]), .D(n442), .Z(n14));
    defparam i5_4_lut.INIT = "0x2000";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@0(39[23],39[34])" *) FD1P3XZ counter_8__i0 (.D(n105[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n116), .Q(counter[0]));
    defparam counter_8__i0.REGSET = "RESET";
    defparam counter_8__i0.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module leds
//

module leds (input s_c_2, input s_c_3, output led_c_1, input s_c_0, 
            input s_c_1, output led_c_0);
    
    
    (* lut_function="(A (B))", lineinfo="@0(52[12],52[24])" *) LUT4 s_c_3_I_0_2_2_lut (.A(s_c_2), 
            .B(s_c_3), .Z(led_c_1));
    defparam s_c_3_I_0_2_2_lut.INIT = "0x8888";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@0(51[12],51[23])" *) LUT4 s_c_1_I_0_2_lut (.A(s_c_0), 
            .B(s_c_1), .Z(led_c_0));
    defparam s_c_1_I_0_2_lut.INIT = "0x6666";
    
endmodule
